<ion-header>
  <ion-toolbar>
    <ion-title>Deliveries</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="close-outline" class="close_icon" (click)="dismiss()"></ion-icon>

    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-card *ngFor="let details of deliveryDetails; let i=index;" class="ion-activatable ion-focusable hydrated"
    mode="ios" style="height: auto;
 ">

    <ion-row>

      <ion-col>
        <p class="title__">Billing Address</p>
    
        <div class="info_box">

          <p class="txt">
            <span class="label">Customer Name:</span>
            {{details.order_detail._billing_first_name }} {{details.order_detail._billing_last_name }} </p>
          <p class="txt">
            <span class="label">Company:</span>
            {{details.order_detail._billing_company }}</p>
          <p class="txt">
            <span class="label">Address Line 1:</span>
            {{details.order_detail._billing_address_1 }}</p>
          <p class="txt">
            <span class="label">Address Line 2:</span>
            {{details.order_detail._billing_address_2 }}</p>
          <p class="txt">
            <span class="label">City:</span>
            {{details.order_detail._billing_city }}</p>
          <p class="txt">
            <span class="label">State:</span>
            {{details.order_detail._billing_state }}</p>
          <p class="txt">
            <span class="label">Country:</span>
            {{details.order_detail._billing_country }} - {{details.order_detail._billing_postcode }}</p>

          <p class="txt">
            <span class="label">Email:</span>
            {{details.order_detail._billing_email }}</p>
          <p class="txt">
            <span class="label">Phone:</span>
            {{details.order_detail._billing_phone}}</p>
        </div>
      </ion-col>
      <ion-col *ngIf="details.order_detail._shipping_first_name != ''">
        <p class="title__">Shipping Address</p>
     
        <div class="info_box">
          <p class="txt">
            <span class="label">Customer Name:</span>
            {{details.order_detail._shipping_first_name }} {{details.order_detail._shipping_last_name }} </p>
          <p class="txt">
            <span class="label">Company:</span>
            {{details.order_detail._shipping_company }}</p>
          <p class="txt">
            <span class="label">Address Line 1:</span>
            {{details.order_detail._shipping_address_1 }}</p>
          <p class="txt">
            <span class="label">Address Line 2:</span>
            {{details.order_detail._shipping_address_2 }}</p>
          <p class="txt">
            <span class="label">City:</span>
            {{details.order_detail._shipping_city }}</p>
          <p class="txt">
            <span class="label">State:</span>
            {{details.order_detail._shipping_state }}</p>
          <p class="txt">
            <span class="label">Country:</span>
            {{details.order_detail._shipping_country }} - {{details.order_detail._shipping_postcode }}</p>


        </div>


      </ion-col>


    </ion-row>


    <p class="buyed_">Ordered Items</p>

    <div class="Product_details" *ngFor="let p of details.order_detail.product_details">


      <div class="product-det">
        <p class="Label">
          Product Name:
        </p>
        <p class="text_">
          {{p.product_name}}
        </p>
      </div>

      <div class="product-det">
        <p class="Label">
          Qty:
        </p>
        <p class="text_">
          {{p._qty}}
        </p>
      </div>

    </div>


  </ion-card>

</ion-content>