.close_icon.md.hydrated {

    margin-right: 20px;
    font-size: 29px;

}

.close_icon.ios.hydrated {

    margin-right: 20px;
    font-size: 29px;

}

.product-det {

    display: flex;

}

.buyed_ {

    font-weight: bold;

}

.title__ {

    font-weight: bold;
}

.ion-activatable.ion-focusable.hydrated.ios {

    padding-left: 12px;
    padding-right: 10px;

}