.orders {
    .activated {
        opacity: 0.6;
    }
    .empty {
        margin-top: 50px;
        text-align: center;
        ion-icon {
            font-size: 7.2em;
        }
    }
    ion-card-title {
        font-size: 28px;
        font-weight: 700;
        line-height: 1.2;
    }
    ion-card-subtitle{
        font-weight: 900;
        font-size: 13px;
    }
}
#floating-panel {
    position: absolute;
    top: 10px;
    right: 5px;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
  }
  #map {
    height: 100%;
  }