<ion-header mode='ios'>
  <ion-toolbar>
  	<ion-buttons slot="end">
      <ion-icon name="close" (click)="closeDialog()"></ion-icon>
    </ion-buttons>
    <ion-title>{{"Orders" | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="orders">

  

  <!-- <div id="floating-panel">
    <b>Start: </b>
    <select [(ngModel)]="start" id="start" (change)="calculateAndDisplayRoute()">
      <option value="chicago, il">Chicago</option>
      <option value="st louis, mo">St Louis</option>
      <option value="joplin, mo">Joplin, MO</option>
      <option value="oklahoma city, ok">Oklahoma City</option>
      <option value="amarillo, tx">Amarillo</option>
      <option value="gallup, nm">Gallup, NM</option>
      <option value="flagstaff, az">Flagstaff, AZ</option>
      <option value="winona, az">Winona</option>
      <option value="kingman, az">Kingman</option>
      <option value="barstow, ca">Barstow</option>
      <option value="san bernardino, ca">San Bernardino</option>
      <option value="los angeles, ca">Los Angeles</option>
    </select><br>
    <b>End: </b>
    <select [(ngModel)]="end" id="end" (change)="calculateAndDisplayRoute()">
      <option value="chicago, il">Chicago</option>
      <option value="st louis, mo">St Louis</option>
      <option value="joplin, mo">Joplin, MO</option>
      <option value="oklahoma city, ok">Oklahoma City</option>
      <option value="amarillo, tx">Amarillo</option>
      <option value="gallup, nm">Gallup, NM</option>
      <option value="flagstaff, az">Flagstaff, AZ</option>
      <option value="winona, az">Winona</option>
      <option value="kingman, az">Kingman</option>
      <option value="barstow, ca">Barstow</option>
      <option value="san bernardino, ca">San Bernardino</option>
      <option value="los angeles, ca">Los Angeles</option>
    </select>
    </div> -->
    <div #map id="map"></div>

    <div id="directionsPanel" style="float:right;width:30%;height:100%"></div>

<div class="spinner" *ngIf="!orders"><ion-spinner> </ion-spinner></div>

<!-- <div *ngIf="orders">
<div *ngIf="orders.length == 0" text-center class="empty">
  <ion-icon name="document"></ion-icon>
</div>

  <ion-card *ngFor="let item of orders" (click)="getDetail(item)" class="ion-activatable ion-focusable hydrated" mode="ios">
    <ion-card-header>
      <ion-card-subtitle>{{item.id}} - <span style="text-transform: uppercase;">{{item.status}}</span></ion-card-subtitle>
      <ion-card-title>{{item.total | currency:settings.currency:'symbol':'1.2-2'}}</ion-card-title>

    </ion-card-header>

    <ion-card-content>

      
      
      <p>{{item.date_created | date:'MMM d, y hh:mm a'}}</p>
      <p [innerHTML]="item.payment_method_title"></p>
    </ion-card-content>
  </ion-card>

	<ion-infinite-scroll threshold="100px" *ngIf="hasMoreItems && orders.length" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
	</ion-infinite-scroll>
</div> -->
</ion-content>