<ion-tabs>

  <ion-tab-bar slot="bottom" *ngIf="UserLoggedIn && !isVendorLogin">
    
    <ion-tab-button tab="home">
      <ion-icon name="home" color="primary"></ion-icon>
      <ion-label color="primary">{{'Home' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="vendor" *ngIf="!isDeliveryAgent">
      <ion-icon name="apps" color="primary"></ion-icon>
      <ion-label color="primary">{{'Store' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search"  *ngIf="!isDeliveryAgent">
      <ion-icon name="search" color="primary"></ion-icon>
      <ion-label color="primary">{{'Search' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="categories"  *ngIf="!isDeliveryAgent">
      <ion-icon name="grid-outline" mode="md" color="primary"></ion-icon>
      <ion-label color="primary">{{'Category' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cart"  *ngIf="!isDeliveryAgent">
      <ion-icon name="basket" mode="md" color="primary"></ion-icon>
      <ion-label color="primary">{{'Cart' | translate}}</ion-label>
      <ion-badge color="danger" *ngIf="data.count != 0">{{data.count}}</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="account">
      <ion-icon name="person" color="primary"></ion-icon>
      <ion-label color="primary">{{'Account' | translate}}</ion-label>
    </ion-tab-button>
    
  </ion-tab-bar>


  <ion-tab-bar slot="bottom" *ngIf="!UserLoggedIn  || isVendorLogin">
    <ion-tab-button tab="home">
      <ion-icon name="home" color="primary"></ion-icon>
      <ion-label color="primary">{{'Home' | translate}}</ion-label>
    </ion-tab-button>



    <!-- <ion-tab-button tab="account">
      <ion-icon name="person " color="primary"></ion-icon>
      <ion-label color="primary">{{'Account' | translate}}</ion-label>
    </ion-tab-button> -->

    <ion-tab-button tab="account" >
      <ion-icon name="search" color="primary"></ion-icon>
      <ion-label color="primary">{{'Account' | translate}}</ion-label>
    </ion-tab-button>
    
  </ion-tab-bar>

</ion-tabs>


