.login1 {
    padding: 16px;
    ion-list {
        margin: 16px 8px;
        background: transparent;
        ion-item {
            --background: transparent;
        }
    }
    ion-button {
        --border-radius: 4px;
    }
    p {
        text-align: center;
    }
    display: flex !important;
    justify-content: center !important;
    flex-direction: column;
    ion-card {
        padding: 10px;
        margin: 0;
        background: white;
    }
    ion-item {
        --padding-start: 0;
    }
    --inner-padding-start: 0;
}
.login-logo {
    margin-top: 30px;
    margin-bottom: -34px;
    text-align: center;
    margin: auto;
    img {
        margin-top: 18px;
        height: 74px;
    }
}

.login1 {
    margin-left: 30px;
    margin-right: 30px;
}
// ion-content {
//     //--background: linear-gradient(to right, #2B32B2, #1488CC) !important; //gradient background
//     //--background: url(../../../../assets/image/login_background4.jpg) 0 0/auto 100% no-repeat; //image background
// }

