<ion-header mode='ios'>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/account"></ion-back-button>
    </ion-buttons>
    <ion-title>{{"Register" | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">

  


<div class="login1">


 
<div class="form" *ngIf="!changeView">
  <ion-row>
    <ion-col>
      <p></p>
      <div class="login-logo">
       <img src="../../../assets/icon/favicon.png" class="logo-fetch">
      </div>
    </ion-col>
  </ion-row>


<ion-list>
  <form [formGroup]="form">
  <ion-item>
  <ion-input required type="text" formControlName="first_name" placeholder="First Name"></ion-input>
  </ion-item>
  <ion-item>
  <ion-input required type="text" formControlName="last_name" placeholder="Last Name"></ion-input>
  </ion-item>
  <ion-item>
  <ion-input required type="text" formControlName="phone" placeholder="Phone"></ion-input>
  </ion-item>
  <ion-item>
  <ion-input required type="email" formControlName="email" placeholder="Email"></ion-input>
  </ion-item>
  <ion-item>
  <ion-input required type="password" formControlName="password" placeholder="Password"></ion-input>
  </ion-item>
</form>
</ion-list>
 <ion-button color="{{settings.theme.button}}" expand="block" fill="solid" [disabled]="!form.valid || disableSubmit" (click)="onSubmit()">{{"Register" | translate}}</ion-button>

<div class="errors" *ngIf="errors">
  <div *ngFor="let error of errors | keys" style="text-align: center; padding-top: 20px;">
    <ion-label color="danger" class="error" [innerHTML]="error.value"></ion-label>
  </div>
 </div>

</div>


<div class="form" *ngIf="changeView">


  <ion-list no-margin >

    <p class="welcm">Welcome {{form.value.first_name}}! </p>

    <ion-list-header>
      <ion-label style="
      font-size: 19px;
      font-weight: bold; ">{{"Home Address" | translate}}</ion-label>
    </ion-list-header>
  
          <ion-item>
              <ion-label position="stacked">{{"First Name" | translate}}</ion-label>
              <ion-input required type="text" [(ngModel)]="form.value.first_name" name="firstname"> </ion-input>
          </ion-item>
          <ion-item>
              <ion-label position="stacked">{{"Last Name" | translate}}</ion-label>
              <ion-input required type="text" [(ngModel)]="form.value.shipping.last_name" name="lastname"> </ion-input>
          </ion-item>
          <ion-item>
              <ion-label position="stacked">{{"Company" | translate}}</ion-label>
              <ion-input required type="text" [(ngModel)]="settings.customer.shipping.company" name="company"> </ion-input>
          </ion-item>
          <ion-item>
              <ion-label position="stacked">{{"Street Address" | translate}}</ion-label>
              <ion-input required type="text" [(ngModel)]="settings.customer.shipping.address_1" name="address_1"> </ion-input>
          </ion-item>
          <ion-item>
              <ion-label position="stacked">{{"Street Address" | translate}} 2</ion-label>
              <ion-input required type="text" [(ngModel)]="settings.customer.shipping.address_2" name="address_2"> </ion-input>
          </ion-item>
          <ion-item>
              <ion-label position="stacked">{{"City" | translate}}</ion-label>
              <ion-input required type="text" [(ngModel)]="settings.customer.shipping.city" name="city"> </ion-input>
          </ion-item>
          
          <ion-item>
              <ion-label position="stacked">{{"Postcode" | translate}}</ion-label>
              <ion-input required type="number" [(ngModel)]="settings.customer.shipping.postcode" name="postcode"> </ion-input>
          </ion-item>
  
          <ion-item *ngIf="countries && countries.length > 1">
              <ion-label>{{"Country" | translate}}</ion-label>
              <ion-select [(ngModel)]="settings.customer.shipping.country" name="shipping_country">
                  <div *ngFor="let field of countries">
                      <ion-select-option value="{{field.value}}"><span [innerHTML]="field.label"></span> </ion-select-option>
                  </div>
              </ion-select>
          </ion-item>
  
          <ion-item *ngIf="shippingStates?.regions.length">
              <ion-label>{{"State" | translate}}</ion-label>
              <ion-select [(ngModel)]="settings.customer.shipping.state" name="shipping_state">
                  <div *ngFor="let field of shippingStates.regions">
                      <ion-select-option value="{{field.value}}"><span [innerHTML]="field.label"></span></ion-select-option>
                  </div>
              </ion-select>
          </ion-item>
  
          <ion-item *ngIf="!shippingStates?.regions.length">
              <ion-label position="stacked">{{"State" | translate}}</ion-label>
              <ion-input required type="text" [(ngModel)]="settings.customer.shipping.state" name="shipping_state"> </ion-input>
          </ion-item>
  
  </ion-list>
  
  <ion-row>
      <ion-col style="text-align:center; margin-bottom: -12px;">
        <ion-button class="save-btn" style="margin-bottom: 100px;"
        color="{{settings.theme.button}}" expand="block"
         (click)="saveAddress()" [disabled]="disableButton" 
         fill="solid">{{"Save" | translate}}
        </ion-button>
      </ion-col>
    </ion-row>




</div>

</div>

<div class="footer_">
<ion-item class="footer__">
  <p class="txt_register" (click)="inAppRegister('ven')">
    Register as Vendor
  </p>
</ion-item>
<ion-item class="footer__">
  <p class="txt_register" (click)="inAppRegister('drv')">
    Register as Driver
  </p>

</ion-item>
</div>

</ion-content>
