.orders {
    .activated {
        opacity: 0.6;
    }
    .empty {
        margin-top: 50px;
        text-align: center;
        ion-icon {
            font-size: 7.2em;
        }
    }
    ion-card-title {
        font-size: 28px;
        font-weight: 700;
        line-height: 1.2;
    }
    ion-card-subtitle{
        font-weight: 900;
        font-size: 13px;
    }
}

ion-icon.locate_icn.md.hydrated {
    float: right;
    margin-right: 10px;
    margin-top: -29px;
    font-size: 27px;
}

ion-icon.locate_icn.ios.hydrated {
    float: right;
    margin-right: 10px;
    margin-top: -29px;
    font-size: 27px;
}

ion-badge.ion-color.ion-color-primary.md.hydrated {
    margin-top: 18px;
}

ion-badge.ion-color.ion-color-primary.ios.hydrated {
    margin-top: 18px;
}