

ion-content
{


    --background: #EFEFEF;

    .half_bg {
        background: #B72925;
        margin-top: -40px;
        height: 17%;
        border-bottom-right-radius: 14px;
        border-bottom-left-radius: 14px;
    }


    @media only screen and (max-height: 500px) {
        .half_bg {
            height: 51% !important;
        }

    }

    @media only screen and (min-width: 723px) {
        .info-card
         {
            margin-left: 20% !important;
            margin-right: 20% !important;
            margin-top: 15px !important;
            padding: 20px !important;
        }

    }




    .info-card
    {
        background: white;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        padding-top: 3px;
        box-shadow: 1px 7px 9px 0px #e8e8e8;
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
        margin-left: 12px;
        margin-right: 12px;

    }

    ion-title.md.title-default.hydrated {
        text-align: center;
        font-size: 19px;
        color: white;
        margin-top: 3px;
        font-weight: bold;


    }

    ion-title.ios.title-default.hydrated {
        text-align: center;
        font-size: 19px;
        color: white;
        margin-top: 3px;
        font-weight: bold;


    }

  
   // extra spacing

    .spacing-extra {
        padding-top: 36px;
        padding-left: 20px;
    }



    .save-btn{
        width: 100%;
        margin-top: 5%;
        background-color: #B72925;
        color: white;
        height: 42px;
        font-weight: bold;
        border-radius: 10px;
        font-size: 15px;
        border: 2px solid;
        padding-bottom: -61px !important;
        margin-bottom: -30px;

    }




}