ion-card {
    margin: 0;
    height: 100%;
}
ion-card-header {
    padding: 10px;
}
ion-header.ios.header-ios.header-collapse-none.hydrated {
    margin-top: 7px;
}
ion-header.ios.header-md.header-collapse-none.hydrated {
    margin-top: 7px;
}
ion-card-content {
    padding: 0;
    .price {
        padding: 0 10px 10px 10px;
        font-weight: bold; //color: #000000;
        font-size: 14px;
        .special-price {
            //color: #868686;
            padding-left: 5px;
            font-size: 10px;
            font-weight: 300;
        }
    }
}
ion-card-subtitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 300;
    font-size: small; //color: black;
}
.scrollmenu2 {
    margin: 5px 0;
    z-index: 1; //background-color: #fff;
    overflow: auto;
    white-space: nowrap;
    h5 {
        margin: 0;
        padding: 5px;
        font-size: 12px;
        text-transform: capitalize;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .scroll {
        display: inline-block; //color: #000;
        text-align: center;
        padding: 8px 8px 0 8px;
        text-decoration: none;
        width: 21%;
    }
}
.list-md {
    padding-top: 0;
}
.stock {
    position: absolute;
    top: -4px;
    left: -6px;
    width: 130px;
    font-size: 8px;
    margin: 15px;
    margin-left: -39px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    height: 19px;
    --box-shadow: none;
}
.offer {
    margin-left: 5px;
    font-size: 12px;
    --border-radius: 25px;
    width: 36px;
    min-height: 36px;
    font-weight: 600;
    position: absolute;
    top: 5px;
    left: 5px;
    -webkit-box-shadow: none;
    --box-shadow: none;
}
.percent-off {
    padding: 1px 4px;
    margin: 7px;
    background: var(--ion-color-secondary-tint, #50c8ff) !important;
    border-radius: 2px;
    color: var(--ion-color-secondary-contrast, #fff) !important;
    font-size: 10px;
}
.searchbar-input.sc-ion-searchbar-md {
    box-shadow: none;
}
.products-header {
    ion-searchbar {
        height: 40px;
        ion-toolbar:last-child {
            --border-width: 0;
        }
    }
}
.product-list3 {
    ion-item {
        --border-color: var(--ion-toolbar-border-color, var(--ion-border-color, var(--ion-color-step-50, rgba(0, 0, 0, 0.2))));
        --border-width: 0 0 0.55px;
        --padding-start: 0px;
        padding: 10xp;
        ion-thumbnail {
            width: 28%;
            height: 100%;
            padding: 10px;
            margin: 0px;
        }
        .details {
            align-self: flex-start; //padding: 0;
            width: 100%;
            ion-label {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-weight: 300;
                font-size: small;
            }
            p {
                margin: 0
            }
            .price {
                font-weight: bold;
                font-size: 14px;
                .special-price {
                    padding-left: 5px;
                    font-size: 10px;
                    font-weight: 300;
                }
            }
            ion-icon {
                font-size: x-large;
                font-weight: 300;
            }
        }
        .offer {
            font-size: 8px;
            --border-radius: 2px;
            width: 46px;
            min-height: 16px;
            font-weight: 600;
            -webkit-box-shadow: none;
            --box-shadow: none;
            margin: 0px;
        }
    }
}