ion-searchbar {
    //height: 40px;
}
.search {
    ion-card {
        margin: 0;
        height: 100%;
    }
    ion-card-header {
        padding: 10px;
    }
    ion-card-content {
        padding: 0;
        .price {
            padding: 0 10px 10px 10px;
            font-weight: bold; //color: #000000;
            font-size: 14px;
            .special-price {
                //color: #868686;
                padding-left: 5px;
                font-size: 10px;
                font-weight: 300;
            }
        }
    }
    ion-card-subtitle {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 300;
        font-size: small; //color: black;
    }
    ion-card-title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-transform: unset;
    }
    .empty {
        margin-top: 50px;
        text-align: center;
        ion-icon {
            font-size: 7.2em; //color: #ececec;
        }
    }
    ion-list {
        padding: 0;
    }
}
.no-products {
    h2 {
        text-align: center;
        font-size: 15px;
        width: 100%;
        margin: 30px 0;
    }
}
.stock {
    position: absolute;
    top: -4px;
    left: -6px;
    width: 130px;
    font-size: 8px;
    margin: 15px;
    margin-left: -39px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    height: 19px;
    box-shadow: none;
}
.offer {
    margin-left: 5px;
    font-size: 12px;
    --border-radius: 25px;
    width: 36px;
    min-height: 36px;
    font-weight: 600;
    position: absolute;
    top: 5px;
    left: 5px;
    -webkit-box-shadow: none;
    --box-shadow: none;
}